{% extends "base.html" %}

{% block content %}
    <table border="1">
        <tr>
            <td><b> app_id </b></td>
            <td> {{ app.app_id }} </td>
        </tr>
        <tr>
            <td><b> app_name </b></td>
            <td> {{ app.app_name }} </td>
        </tr>
        <tr>
            <td><b> dev_name </b></td>
            <td> {{ app.dev_name }} </td>
        </tr>
        <tr>
            <td><b> dev_email </b></td>
            <td><a href="mailto:{{ app.dev_email }}">{{ app.dev_email }}</a></td>
        </tr>
        <tr>
            <td><b> icon_url </b></td>
            <td><a href="{{ app.icon_url }}"><img src="{{ app.icon_url }}" width="48" height="48"></a></td>
        </tr>
    </table>
    <p>
        <a href="{{ request.META.HTTP_REFERER }}">Back to search results</a>
    </p>
{% endblock %}
